@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="holder">
        <div class="folder-holder">
            <div class="folder-holder-title">Folders</div>
            <div class="folder-title-list">
                <div class="folder-title"> <a href="#"> Work</a></div>
                <div class="folder-title"> <a href="#"> Travel</a></div>
                <div class="folder-title"> <a href="#"> Home</a></div>
            </div>
        </div>

        <div class="action-list-holder">
            <div class="action-list-title">Tasks</div>

            <div class="action-item">
                <p class="action-title"> <button></button>Complete Laundry</p>
                <a href="#">Delete</a>
            </div>

            <div class="action-item">
                <p class="action-title"> <button></button>Fix the bedroom lamp with a hex nut and duct tape.</p>
                <a href="#">Delete</a>
            </div>

            <div class="action-item">
                
                <p class="action-title"><button></button>Complete Laundry</p>
                <a href="#">Delete</a>
            </div>
        </div>
    </div>
    
    <script></script>
</body>
