@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="desktop-1">
        <div class="task-item-div">
            <div class="task-holder-div"></div>
            <div class="task-header-div">Task</div>
            <div class="task-title-div">Complete Laundry by 10:00 PM</div>

            <button class="complete-button-div">
                <div class="complete-button-div1">
                </div>
                <b class="complete-text-b">Complete</b>
            </button>

            <div class="delete-task-button-div">
                <a href="#">Delete</a>
            </div>
        </div>

        <div class="task-item-div">
            <div class="task-holder-div"></div>
            <div class="task-header-div">Task</div>
            <div class="task-title-div">Complete Laundry by 10:00 PM</div>

            <button class="complete-button-div">
                <div class="complete-button-div1">
                </div>
                <b class="complete-text-b">Complete</b>
            </button>

            <div class="delete-task-button-div">
                <a href="#">Delete</a>
            </div>
        </div>
        <div class="task-item-div">
            <div class="task-holder-div"></div>
            <div class="task-header-div">Task</div>
            <div class="task-title-div">Complete Laundry by 10:00 PM</div>

            <button class="complete-button-div">
                <div class="complete-button-div1">
                </div>
                <b class="complete-text-b">Complete</b>
            </button>

            <div class="delete-task-button-div">
                <a href="#">Delete</a>
            </div>
        </div>
        <div class="task-item-div">
            <div class="task-holder-div"></div>
            <div class="task-header-div">Task</div>
            <div class="task-title-div">Complete Laundry by 10:00 PM</div>

            <button class="complete-button-div">
                <div class="complete-button-div1">
                </div>
                <b class="complete-text-b">Complete</b>
            </button>

            <div class="delete-task-button-div">
                <a href="#">Delete</a>
            </div>
        </div>
        <div class="task-item-div">
            <div class="task-holder-div"></div>
            <div class="task-header-div">Task</div>
            <div class="task-title-div">Complete Laundry by 10:00 PM</div>

            <button class="complete-button-div">
                <div class="complete-button-div1">
                </div>
                <b class="complete-text-b">Complete</b>
            </button>

            <div class="delete-task-button-div">
                <a href="#">Delete</a>
            </div>
        </div>
        <div class="task-item-div">
            <div class="task-holder-div"></div>
            <div class="task-header-div">Task</div>
            <div class="task-title-div">Complete Laundry by 10:00 PM</div>

            <button class="complete-button-div">
                <div class="complete-button-div1">
                </div>
                <b class="complete-text-b">Complete</b>
            </button>

            <div class="delete-task-button-div">
                <a href="#">Delete</a>
            </div>
        </div>
    </div>

    <script></script>
</body>
