@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="to-do-holder">
        <div class="action-card">
            <div class="action-title">

            </div>
            <div class="action-date">

            </div>
            <div class="action-functions">
                <a href="">Delete</a>
                <a href="">Completed</a>
            </div>
        </div>
    </div>
    <script></script>
</body>
