a{
    color: black;
   
}

body {
  margin: 0;
  line-height: normal;
}

.holder{
    display: flex;
    justify-content: space-between;

}

.folder-holder {
    width: 20vw;
    background-color: beige;
    height: 100vh;
    padding: 2vw;
    border-radius: 20px;
}

.action-list-holder {
    width: 35vw;
    background-color: lightgrey;
    border-radius: 20px;
    height: 100vh;
    padding: 2vw;
}

.action-item {
    display: flex;
    padding-top: 1vw;
    gap: 5vw;
    justify-content: space-between;

}

.action-title{

} 

.action-title button {
    width: 10px;
    height: 15px;
    border-radius: 100%;
    margin-right: 0.5vw;

}

.action-item p{
    margin: 0px;
}

.folder-holder-title{
    font-size: 2vw;
    padding: 2vh 0px;

}

.action-list-title {
    font-size: 2vw;
    padding: 2vh 0px;
}

.folder-title {
    font-size: 1vw;
    font-weight: bold;
    padding: 1vh 0px;
}

